# Database settings
db_settings:
  user: 'user'
  password: 'pw'
  host: 'localhost'
  database: 'fr_user_event_consumer_testing'

# Default directories to load log files from (absent the --directory command-line option).
# Log files in sub-directories will also be consumed.
central_notice_directory: ''
landing_page_directory: ''

# Globs to select files of the specified type. Should select for any timestamp and, for
# CentralNotice events, sample rate.
central_notice_file_glob: 'centralnotice-impressions-*'
landing_page_file_glob: 'landingpage-impressions-*'

# Format for timestamp in filenames (as output by datetime.strptime())
timestamp_format_in_filenames: '%Y%m%d-%H%M%S'

# Regular expression to extract timestamps from log filenames.
extract_timestamp_regex: '(?<=-)\d+-\d+(?=\D)'

# Regular expression to extract sample rate from log filenames (only CentralNotice events)
extract_sample_rate_regex: '(?<=sampled)\d+(?=\D)'

# For aggregate data on CentralNotice events, calculate separate totals for only these
# languages.
central_notice_detail_languages: [
  'en', 'fr', 'it', 'ja', 'nl', 'es', 'ru', 'hi',  'de', 'pt', 'sv', 'nb', 'he', 'da',
  'zh', 'fi', 'pl', 'cs', 'ar', 'el', 'ko', 'tr', 'ms', 'uk'
]

# Maximum number of landing page events to write in a single database query.
landing_page_ingress_max_batch_size: 1500
